.col-top{
    background-color: rgb(100, 155, 180);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-size: 30px;
}

.col-left{
    margin-top: 10px;
    border: 2px solid black;
    width: 15%;
    /* height: 500px; */
    margin-left: 10px;
}
.search-container{
    border-bottom: 2px solid rgb(207, 17, 17);
}
.row-info{
    text-align: center;
    border: 2px solid black;
    padding: 20px 20px 20px 20px;
}
.flex-container {
  display: flex;
}

#mid-info{
    flex: 1;
}
aside {
  background-color: #000;
  opacity: .8;
  color:white;
  padding: 20px;
  margin: 20px auto;
  margin-right: 10px;
  margin-left: 10px; 
}

.info-card {
  /* flex: 1; */
  width: 300px;
  background-color: #000;
  opacity: .8;
  color:white;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  margin-right: 10px;
  margin-left: 10px;
}